---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="pageheading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="postlistheading">{{ page.list_title | default: "Posts" }}</h2>
      {% for post in site.posts %}
      <div>
        <h3>
          <a class="postlink" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </div>
      {% endfor %}

  {% endif %}

</div>
